:root {
  --primary: #204D8C;
  --black: #282828;
  --white: #ffffff;
}

/* @link https://utopia.fyi/type/calculator?c=320,14,1.2,1000,22,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.6076rem, 0.4795rem + 0.6408vi, 0.88rem);
  --step--1: clamp(0.7292rem, 0.5547rem + 0.8725vi, 1.1rem);
  --step-0: clamp(0.875rem, 0.6397rem + 1.1765vi, 1.375rem);
  --step-1: clamp(1.05rem, 0.7353rem + 1.5735vi, 1.7188rem);
  --step-2: clamp(1.26rem, 0.8419rem + 2.0904vi, 2.1484rem);
  --step-3: clamp(1.512rem, 0.9597rem + 2.7613vi, 2.6855rem);
  --step-4: clamp(1.8144rem, 1.0885rem + 3.6295vi, 3.3569rem);
  --step-5: clamp(2.1773rem, 1.2272rem + 4.7503vi, 4.1962rem);
}

/* ubuntu-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/ubuntu-v20-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ubuntu-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ubuntu-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ubuntu-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/ubuntu-v20-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ubuntu-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ubuntu-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: var(--black);
  min-height: 100vh;
}

.logo {
  height: 40px;
}

.nav-link:link {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  color: var(--black);
  font-size: var(--step-1);
}

.nav-link:hover {
  color: var(--primary);
  transform: scale(1.3, 1.3);
}

.nav-link:visited,
.nav-link:active {
  color: var(--black);
}

.burger-menu {
  color: var(--black);
}

.link-logo {
  display: none;
}

a:link {
  color: var(--black);
  font-family: 'Ubuntu', sans-serif;
  font-size: var(--step-0);
  font-weight: 300;
  text-transform: lowercase;
  text-decoration: none;
}

a:visited {
  color: var(--black);
}

h1 {
  font-weight: 300;
  font-size: var(--step-5);
  line-height: 1em;
  text-transform: lowercase;
}

h2 {
  font-weight: 300;
  font-size: var(--step-3);
  padding-top: 4rem;
  border-bottom: 2px solid var(--black);
  text-transform: lowercase;
}

h3 {
  font-weight: 300;
  font-size: var(--step-2);
  text-transform: lowercase;
  padding-top: 1rem;
}

h4 {
  font-weight: 300;
  font-size: var(--step--1);
  text-transform: lowercase;
  line-height: 0.3;
}

p {
  padding-bottom: 0;
  margin-bottom: 0;
}

.button:link {
  border-bottom: 2px solid var(--black);
  text-transform: lowercase;
}

.button:hover {
  color: var(--primary);
  transform: scale(1.3, 1.3);
  border-color: var(--primary);
}

img, iframe {
  filter: grayscale(100%);
}

img:hover,
iframe:hover {
  filter: grayscale(0%);
}

.impressionen {
  display: none;
}

.footer-item {
  list-style-type: none;
}

.footer-link {
  color: var(--black);
  font-family: 'Ubuntu', sans-serif;
  font-size: var(--step--1);
  font-weight: 300;
  text-transform: lowercase;
  text-decoration: none;
}

.footer-link:hover {
  color: var(--primary);
  transform: scale(1.3, 1.3);
}

.kontakt-link:link {
  font-size: var(--step--1);
}

.kontakt-link:hover {
  color: var(--primary);
}

input {
  border: none;
  border-bottom: 2px solid var(--black);
  margin-bottom: 1.5rem;
  width: 100%;
}

textarea {
  width: 100%;
  border: 2px solid var(--black);
}

button {
  background-color: unset;
  border: none;
}

body {
  cursor: url("../images/cursor.png") 8 8, pointer;
  cursor: url("../images/cursor.svg") 8 8, pointer;

  cursor: image-set(url("../images/cursor.png") 1x, url("../images/cursor@2x.png") 2x) 8 8, pointer;
  cursor: -webkit-image-set(url("../images/cursor.png") 1x, url("../images/cursor@2x.png") 2x) 8 8, pointer;
}

:root {
  --scrollbarBG: #ffffff;
  --scrollbarKnop: var(--primary);
}

html::-webkit-scrollbar{
  width: 6px;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbarKnop) var(--scrollbarBG);
}

html::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarKnop);
  border-radius: 0;
  border: none;
}

@media (min-width: 768px) {
  .navbar-brand {
    display: none;
  }
  .link-logo {
    display: block;
  }
  .navbar-nav {
    gap: 2rem;
  }
  .impressionen {
    display: block;
  }
  .socials {
    display: flex;
    justify-content: center;
  }
  .footer-links {
    text-align: end;
  }
}
